// Imports for fonts/etc
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

// Variables
$font-stack: 'Open Sans', sans-serif;
$text-color: #8f8f8f;
$link-color: #dcdccc;
$a-tags: 'a:link, a:visited, a:hover, a:active';

// lINKS!
#{$a-tags} {
  text-decoration: none;
  color: $link-color;
}

// Top Link bar styles
.navbar {
  background-color: #6f6f6f;
}

// Body style
body {
  background-color: #333333;
  font: $font-stack;
  color: $text-color;
}
