<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>GRANULAR</title>
</head>
<body>
<section layout:fragment="content">
    <p th:text="'Hello, ' + ${name} + '!'"></p>
    <p>If you add a parameter of name to the end of this pages URL you can greet yourself!</p>
    <p>For instance, <a href="https://granular.space/greeting?name=Ben">https://granular.space/greeting?name=Ben</a></p>
    <div>
        <input id="name" type="text"></input>
    </div>
</section>
</body>
</html>
